// ------------
// Social Icons
// ------------

.social-list {
    @media @tablet {
        line-height: 44px;
    }
}

.socialicons .social-name {
    display: none;
}

.social-item {
    padding: 0;
}
.social-link {
    color: @color__socialicons--icon;
    padding: 5px;
    &:hover {
        color: @color__socialicons--icon--hover;
        text-decoration: none;
    }
    &.icon:before {
        color: @color__socialicons--icon;
    }
    &:hover:before {
        color: @color__socialicons--icon--hover;
    }
}
