{% extends "layout.twig" %}
{% block class %}bk-pt-blogpostlist{% endblock %}
{% block content %}

{{widget('blogpostlist', 'allblogposts', {})|raw}}

    <!-- Page Content -->
    <section class="zone-content">

        <!-- Main Widget Zone -->
        {{zone('main')|raw}}

    </section>
    <!-- End Page Content -->


{% endblock %}
