{% extends "layout.twig" %}
{% block class %}bk-pt-defaultpage{% endblock %}
{% block content %}

    {{widget('pagetitle', 'title', {})|raw}}

    <!-- Page Content -->
    <section class="zone-content">

        <!-- Main Widget Zone -->
        {{zone('main')|raw}}

    </section>
    <!-- End Page Content -->

{% endblock %}
