{% extends "layout.twig" %}
{% block class %}bk-pt-ecomproduct{% endblock %}
{% block content %}

    <!-- Page Content -->
    <section class="zone-content">

        <!-- Main Widget Zone -->
        {{zone('main')|raw}}

    </section>
    <!-- End Page Content -->



{% endblock %}
